<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inspection List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <div class="inspection-list" >
      <div class="panel index-panel inspection urgent" [routerLink]="1">
         <ion-icon class="medium" name="alert-circle"></ion-icon>
         <div class="content">
            <h1 class="content-title">March 3rd, 2021</h1>
            <p class="content-subtitle">#3715 TUFF BOY</p>
         </div>
      </div>
      <div class="panel index-panel inspection urgent" [routerLink]="2">
         <ion-icon class="medium" name="alert-circle"></ion-icon>
         <div class="content">
            <h1 class="content-title">March 3rd, 2021</h1>
            <p class="content-subtitle">#3716 TUFF BOY</p>
         </div>
      </div>
      <div class="panel index-panel inspection pending" [routerLink]="3">
         <ion-icon class="medium" name="alert-circle"></ion-icon>
         <div class="content">
            <h1 class="content-title">March 17th, 2021</h1>
            <p class="content-subtitle">#3165 TUFF BOY</p>
         </div>
      </div>
   </div>
</ion-content>
