<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inspection List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-row class="full">
      <ion-col size="12" size-sm>
         <div class="panel index-panel urgent">
            <ion-icon class="large" name="alert-circle"></ion-icon>
            <div class="content">
               <h1 class="content-title">March 3rd, 2021</h1>
               <p class="content-subtitle">#3715 Tuff Boy</p>
            </div>
         </div>
         <div class="panel">
         </div>
      </ion-col>
      <ion-col size="12" size-sm>
         <div class="panel">
            Panel 2
         </div>
      </ion-col> 
   </ion-row>
</ion-content>
